<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <!-- Top section -->
    <div class="container-fluid bg-dark">
      <h1 class="text-white fs-1">Share this PIN : {{ roomId }}</h1>
    </div>

    <!-- Restaurants -->
    <div class="container-lg">
      <div
        class="list-group list-group-checkable d-grid gap-2 border-0 w-auto p-1"
        *ngFor="let restaurant of restaurants?.restaurants"
      >
        <label
          class="list-group-item rounded-3 py-3"
          for="listGroupCheckableRadios1"
        >
          {{ restaurant }}
        </label>
      </div>

      <div class="pt-3" *ngFor="let alert of alerts">
        <alert
          [type]="alert.type"
          [dismissOnTimeout]="alert.timeout"
          (onClosed)="onClosed(alert)"
          >{{ alert.msg }}</alert
        >
      </div>
    </div>

    <!-- Buttons -->
    <div class="container-lg justify-content-center">
      <button
        type="button"
        class="btn btn-danger m-2"
        data-bs-dismiss="modal"
        (click)="home()"
      >
        Home
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="getRandomRestaurant()"
      >
        Pick a restaurant randomly!
      </button>
    </div>
  </body>
</html>
