<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div
      class="modal fade show"
      id="exampleModalCenteredScrollable"
      tabindex="-1"
      aria-labelledby="exampleModalCenteredScrollableTitle"
      aria-modal="true"
      role="dialog"
      style="display: block"
    >
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1
              class="modal-title fs-5"
              id="exampleModalCenteredScrollableTitle"
            >
              Create a room PIN
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              (click)="closeDialog()"
            ></button>
          </div>
          <div class="modal-body">
            <p class="lead">
              You can simply enter a restaurants list and the app will randomly
              pick a restaurants for you!
              <br />
            </p>
            <p class="lead">Add a restaurant name.</p>
            <p class="lead">Once you've finished, click on 'Submit'.</p>

            <!-- Add restaurant -->
            <div class="container py-1">
              <main>
                <div class="text-danger m-0" *ngIf="showError">{{ errorMessage }}</div>
                <div class="input-group mb-3">
                  <input
                    type="text"
                    (input)="filterInput($event)"
                    class="form-control"
                    placeholder="Add a restaurant name"
                    aria-label="Add a restaurant name"
                    aria-describedby="button-addon2"
                    [(ngModel)]="newItem"
                    maxlength="60"
                  />
                  <button
                    class="btn btn-warning"
                    type="submit"
                    id="button-addon2"
                    (click)="addItem()"
                  >
                    Add
                  </button>
                </div>
              </main>
            </div>

            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of items; let i = index">
                {{ item }}
                <span class="text-danger" style="cursor: pointer;" (click)="removeItem(i)">x</span>
              </li>
            </ul>

          </div>

          <!-- Reset / Submit Buttons -->
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
              (click)="reset()"
            >
              Reset
            </button>
            <button type="button" class="btn btn-primary" (click)="submit()">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
